<?xml version="1.0"?>

<launch>


  <group ns="rtabmap">

      <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen"> 

            <remap from="rgb/image"         to="/azure_link/color/image_raw"/>
            <remap from="depth/image"       to="/azure_link/depth/image_raw"/>
            <remap from="rgb/camera_info"   to="/azure_link/color/camera_info"/>
            <remap from="rgbd_image"        to="rgbd_image"/> 
            <param name="approx_sync"       value="true"/>  

      </node> 

      <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args=""> 
      
            <param name="frame_id"          type="string"     value="base_link"/> 

            <param name="subscribe_depth"   type="bool"       value="false"/>
            <param name="subscribe_rgbd"    type="bool"       value="true"/>
            <param name="subscribe_scan"    type="bool"       value="true"/>

            <!--Inputs-->
            <remap from="odom"        to="/odom" />
            <remap from="scan"        to="/rehab_robot/laser/scan"/>
            <remap from="rgbd_image"  to="rgbd_image"/>

            <!-- LOCALIZATION MODE -->
            <!--<param name="Mem/IncrementalMemory" type="string" value="false"/>          -->
                       
            <param name="queue_size" type="int" value="50"/>

            <!-- RTAB-Map's parameters -->
            <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
            <param name="RGBD/ProximityBySpace"     type="string" value="true"/>
            <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
            <param name="Grid/FromDepth"            type="string" value="false"/> <!-- occupancy grid from lidar -->
            <param name="Reg/Force3DoF"             type="string" value="true"/>
            <param name="Reg/Strategy"              type="string" value="1"/> <!-- 1=ICP -->
            
            <!-- ICP parameters -->
            <param name="Icp/VoxelSize"                 type="string" value="0.05"/>
            <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.1"/>
      </node>

</group>
    
      <group ns="planner">
            

            <remap from="rehab_robot/laser/scan"    to="/rehab_robot/laser/scan"/>
            <remap from="odom"                      to="/odom"/>
            <remap from="map"                       to="/rtabmap/grid_map"/> 
            <remap from="move_base_simple/goal"     to="/move_base_simple/goal"/>
            <remap from="cmd_vel"                   to="/cmd_vel"/>

        
      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" >
            <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
            <rosparam file="$(find rehab_robot)/param/costmap_common_params.yaml"               command="load"    ns="global_costmap" />
            <rosparam file="$(find rehab_robot)/param/costmap_common_params.yaml"               command="load"    ns="local_costmap" />
            <rosparam file="$(find rehab_robot)/param/local_costmap_params.yaml"                command="load" />
            <rosparam file="$(find rehab_robot)/param/global_costmap_params.yaml"               command="load" />
            <rosparam file="$(find rehab_robot)/param/base_local_planner_params.yaml"           command="load" />
            <rosparam file="$(find rehab_robot)/param/dwa_local_planner_params.yaml"  command="load" />

      </node>
       
      </group>

     
       <node name="rviz" 
             pkg="rviz" 
             type="rviz" 
             args="-d $(find rehab_robot)/rviz_config/demo_robot_mapping.rviz"/> 
      
 
</launch>
