 <?xml version="1.0"?>
  <model>
    <name>rehab_robot</name>
    <version>1.0</version>
    <sdf>urdf/rehab_robot.urdf.xacro</sdf>
    <author>
      <name>ALI AHMAD</name>
      <email>ali.ahmad@xavor.com</email>
    </author>
    <description>
      Rehab Robot Model (Exported from SolidWorks)
    </description>
  </model>