<?xml version="1.0"?>
<launch>
                
      <include file="$(find gazebo_ros)/launch/empty_world.launch">
      
      <arg name="world_name"    value="$(find rehab_robot)/worlds/empty.world"/>
      <arg name="verbose"       value="true"/>
      <arg name="paused"        value="false"/>
      <arg name="use_sim_time"  value="true"/>
      <arg name="gui"           value="true"/>
      <arg name="recording"     value="false"/>
      <arg name="debug"         value="true"/>

      </include>

      <!-- <rosparam file="$(find rehab_robot)/config/rehab_robot.yaml" command="load"/> -->
      
      <!--Using Xacro as URDF -->
      <param 
      name="robot_description" 
      command="$(find xacro)/xacro.py $(find rehab_robot)/urdf/rehab_robot.urdf.xacro" />

      <node name="spawn_urdf" 
      pkg="gazebo_ros" 
      type="spawn_model" 
      args="-param robot_description -urdf -model rehab_robot" />   

      <node name="joint_state_publisher" 
            pkg="joint_state_publisher" 
            type="joint_state_publisher">
      
      </node>

      <node name="robot_state_publisher" 
      pkg="robot_state_publisher"
      type="robot_state_publisher">
      </node> 

      <node name="rviz" 
      pkg="rviz" 
      type="rviz" 
      args="-d $(find rehab_robot)/rviz_config/rehab_robot.rviz"/> 
     
     <node pkg="tf" type="static_transform_publisher" name="azure_to_pointCloud" args=" 0 0 0 -1.57 0 -1.57 azure_link point_cloud_link  20" /> 
      </launch>
